@{
    ViewBag.Title = "Home Page";
}
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/IndexS.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    </head>
<br />

    <div class="jumbotron dive-form">
        <div class="right">
            <p>Registrar un empleado en la base de datos</p>
        </div>
        <h1></h1>
        <img src="~/IMG/INDEXimg1.png" asp-append-version="true" class="img-circle div-img" 
        <p><a href="https://asp.net" class="btn btn-primary btn-lg right div-boton"><img src="~/IMG/icono1.png" class="div-icon" asp-append-version="true"> </a></p>
    </div>

