
.div-img {
    width: 350px;
    height: 170px;
    left: 80px;
}
.div-icon {
    width: 30px;
    height: 45px;
    
}.div-boton {
    width: 60px;
    height: 50px;
    
}

.dive-form {
    width: 800px;
    height:  300px;
    
}